.order_request,#order_item,#order_footer{padding:20px 10px}.order_request,#order_item,#order_money,#order_payment{border-bottom:1px solid #fff;box-shadow:0 1px 0 0 #b4b4b4}#order_money,#order_payment{padding:0 10px}#o_nam_tele{font-size:16px}#o_address{color:#a7a7a7}#o_seller{font-size:16px;padding-bottom:20px}#o_ul,.btm_bor{border-bottom:1px solid #d3d3d3}.o_li{padding-bottom:25px;line-height:20px}.o_a{font-size:12px}.o_a>p{margin-left:46px}.o_a>.i_pri{font-size:14px}.o_name{font-size:14px;color:#000}#o_remark{padding-top:6px}.i_pri{font-size:16px}.btm_bor{height:40px;line-height:40px}#last_money{height:50px;line-height:50px}#order_notice{padding:20px 10px 0}#notice_icon{width:14px;height:14px;line-height:14px;overflow:hidden;border-radius:14px;color:#f5f5f5;margin-right:4px}#order_footer{height:40px}#submit_order,#submit_son{width:100%;height:40px;line-height:40px;color:#fff;border-radius:4px;text-shadow:1px 1px 0 #333}#submit_order{box-shadow:0 -1px 0 0 #bf3210 inset}#submit_son{top:0;left:0;z-index:10;background-color:#ccc;box-shadow:0 -1px 0 0 #999 inset}#request_loading,#o_item_loading{height:100px}#payment_tle{font-size:16px;padding-top:20px}#payment_ul{line-height:18px}.payment_li{top:-1px;height:33px;padding:12px 0 12px 63px;border-top:1px solid #d3d3d3;display:none}.payment_select{width:12px;height:12px;border-radius:50%;border:1px solid #a5a5a5;top:22px;left:0;background:-webkit-linear-gradient(top,#f1f1f1 50%,#e7e7e7 60%)}.payment_li_current>.payment_select{background:-webkit-linear-gradient(top,#ff8737 50%,#ff7a21 60%)}.payment_li_current em{width:4px;height:4px;top:4px;left:4px;background-color:#fff;border-radius:50%;box-shadow:0 1px 1px #666;position:absolute}.payment_select,.payment_logo{margin-right:8px}.payment_logo{width:33px;height:33px;top:12px;left:22px;background:url(../img/payment.png) 0 0 no-repeat;background-size:33px}#payment_ZFB{background-position:0 0}#payment_BDQB{background-position:0 -33px}#payment_WXZF{background-position:0 -66px}.payment_intro{font-size:12px}.toShowPayment{display:block}#payto{display:none !important}#order_notice{text-align:left !important}



.ckbt{-webkit-appearance: none;
-webkit-background-clip: border-box;
-webkit-background-origin: padding-box;
-webkit-background-size: 20px 92px;
-webkit-rtl-ordering: logical;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
-webkit-user-select: text;
-webkit-writing-mode: horizontal-tb;
background-attachment: scroll;
background-clip: border-box;
background-color: rgba(0, 0, 0, 0);
background-image: url(../img/hd_checkbox.png);
background-origin: padding-box;
background-position: 0px -72px;
background-size: 20px 92px;
border-bottom-color: rgb(0, 0, 0);
border-bottom-left-radius: 2px;
border-bottom-right-radius: 2px;
border-bottom-style: none;
border-bottom-width: 0px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(0, 0, 0);
border-left-style: none;
border-left-width: 0px;
border-right-color: rgb(0, 0, 0);
border-right-style: none;
border-right-width: 0px;
border-top-color: rgb(0, 0, 0);
border-top-left-radius: 2px;
border-top-right-radius: 2px;
border-top-style: none;
border-top-width: 0px;
box-sizing: border-box;
color: rgb(0, 0, 0);
cursor: auto;
display: inline-block;
font-family: Arial;
height: 20px;
letter-spacing: normal;
line-height: normal;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 10px;
margin-top: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
position: relative;
text-align: start;
text-indent: 0px;
text-shadow: none;
text-transform: none;
vertical-align: middle;
width: 20px;
word-spacing: 0px;}
.ckbf{
-webkit-appearance: none;
-webkit-background-clip: border-box;
-webkit-background-origin: padding-box;
-webkit-background-size: auto;
-webkit-rtl-ordering: logical;
-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
-webkit-user-select: text;
-webkit-writing-mode: horizontal-tb;
background-attachment: scroll;
background-clip: border-box;
background-color: rgba(0, 0, 0, 0);
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgb(245, 245, 245)), to(rgb(253, 253, 253)));
background-origin: padding-box;
background-position: 0% 0%;
background-size: auto;
border-bottom-color: rgb(221, 221, 221);
border-bottom-left-radius: 2px;
border-bottom-right-radius: 2px;
border-bottom-style: solid;
border-bottom-width: 1px;
border-image-outset: 0px;
border-image-repeat: stretch;
border-image-slice: 100%;
border-image-source: none;
border-image-width: 1;
border-left-color: rgb(221, 221, 221);
border-left-style: solid;
border-left-width: 1px;
border-right-color: rgb(221, 221, 221);
border-right-style: solid;
border-right-width: 1px;
border-top-color: rgb(187, 187, 187);
border-top-left-radius: 2px;
border-top-right-radius: 2px;
border-top-style: solid;
border-top-width: 1px;
box-sizing: border-box;
cursor: auto;
display: inline-block;
font-family: Arial;
height: 20px;
letter-spacing: normal;
line-height: normal;
margin-bottom: 0px;
margin-left: 0px;
margin-right: 10px;
margin-top: 0px;
padding-bottom: 0px;
padding-left: 0px;
padding-right: 0px;
padding-top: 0px;
position: relative;
text-align: start;
text-indent: 0px;
text-shadow: none;
text-transform: none;
vertical-align: middle;
width: 20px;
word-spacing: 0px;}
#NewAddr {
    width: 95%;
    margin-top: 12px;
    background-color: #F93930;
    border: 1px solid #F93930;
    height: 35px;
    color: #fff;
    line-height: 35px;
    border-radius: 3px;
    text-align: center;
    font-size:16px;
}