.mobile15_headertop{
	width:100%;
	height:auto;
	overflow:hidden;
	position:relative
}
.mobile15_headertop img{
	width:100%
}
.mobile15_headertop b{
	display:inline-block;
	position:absolute;
	bottom:5px;
	left:90px;
	color:#404040;
	font-size:15px;
	font-weight:400
}
.mobile15_headerbot{
	width:100%;
	height:44px;
	position:relative;
	background:0 0
}
.mobile15_headerbot_le{
	position:absolute;
	top:-33px;
	left:10px;
	width:65px;
	height:65px;
	background:#fff;
	border-radius:50%;
	padding:2px
}
.mobile15_headerbot_le img{
	width:65px;
	height:65px;
	border-radius:50%
}
.mobile15_headerbot_ri{
	width:75%;
	float:right
}
.mobile15_headerbot_ri ul li{
	float:left;
	width:25%;
	text-align:center;
	overflow:hidden;
	background-size:1px 27px
}
.mobile15_headerbot_ri ul li span{
	display:block;
	height:18px;
	line-height:18px;
	color:#696969;
	margin-top:2px
}
.mobile15_headerbot_ri ul li a{
	display:block;
	color:#404040;
	line-height:18px;
	margin-top:2px
}
.mobile15_nav{width:96%;
    padding:0 2%;
    overflow:hidden;
    margin-top:6px
}
.mobile15_nav a{
	float:left;
	display:block;
	width:49%;
	height:40px;
	line-height:40px;
	text-align:center;
	color:#fff;
	font-size:15px;
	background:#d86952;
	margin-right:2%;
	margin-bottom:2%
}
.mobile15_nav a i{
	font-style:normal;
	font-size:14px
}
.mobile15_nav a:nth-child(even){
	margin-right:0
}
.mobile15_newstit{
	height:40px;
	line-height:40px;
	background:#f8f8f7;
	border:#efefef;
	margin:2%;
	overflow:hidden;
	color:#333;
	padding-left:10px;
	font-size:15px;
	position:relative
}
.mobile15_newstit b{
	display:block;
	position:absolute;
	top:12px;
	right:15px;
	width:14px;
	height:14px;
	border:#969696 solid 1px;
	border-width:2px 2px 0 0;
	-moz-transform:rotate(45deg);
	-webkit-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	transform:rotate(45deg)
}